.Addperson {
    width: 92%;
    height: 75vh;
    border: 1px solid black;
    position: relative;
  }
  
  .page-title {
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    font-weight: bolder;
    margin-bottom: 2rem;
  }
  
  .styled-table {
    width: 94%;
    margin: 0 3%;
    border-collapse: collapse;
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid grey;
    text-align: center;
    padding: 8px;
  }
  
  .styled-table thead {
    background-color: #4472c4;
    color: white;
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .Add-btn {
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 10%;
    background-color: #4472c4;
    color: white;
    border: none;
    border-radius: 2px;
    height: 8%;
    cursor: pointer;
  }
  
  .row-btns {
    border: none;
    background-color: white;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  form {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin: 0 3%;
  }
  
  .form-container {
    border: 1px solid grey;
    background-color: #4472c4;
    color: white;
    width: 94%;
    margin: 0 3%;
    height: 3rem;
    margin-top: 5px;
  }
  
  form > input {
    width: 100%;
  }
  